.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGreen;
    background-repeat: no-repeat;
    background-position:bottom right 40px ;
}

.hero__inner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.hero__title{
    color: white;
    padding-top: 0px;
    font-weight: 600;
    font-size: 38px;
    line-height: 65px;
}

.hero__text{
    color: white;
}
.hero__item{
    padding-left: 0px;
}